<div class="about-me container">
    <div class="section-title">
        <h2>Rafael Dias</h2>
    </div>
  
    <h2>Eu sou um <span class="profession animated-profession">{{ professions[currentProfession] }}</span></h2>
    
    <h1>Front End &amp; UI/Ux &amp; Game Developer</h1>
    <!-- Adicionada a barra de divisão -->
    <hr style="border-top: 1px solid #fff; margin: 10px 0;">
        
    <p class="fst-italic">
        Desenvolvedor front-end especializado em Angular e UX Design, com formação em Jogos Digitais e pós-graduação em Animação e Jogos Eletrônicos. Habilidades técnicas e criativas para projetos desafiadores.
    </p>
    <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-award text-warning"></i> <strong class="text-white">Prêmios:</strong> <span class="text-white">Blender pro 2010</span></li>
            <li><i class="bi bi-award text-warning"></i> <strong class="text-white">Prêmios:</strong> <span class="text-white">Bojoga 2012</span></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-award text-warning"></i> <strong class="text-white">Prêmios:</strong> <span class="text-white">Amostra cearense de jogos 2014</span></li>
            <li><i class="bi bi-journal text-primary"></i> <strong class="text-white">Artigos:</strong> <span class="text-white">Sbgames 2011</span></li>
          </ul>
        </div>
      </div>
    <p>
        Sou um programador com habilidades em JavaScript, Angular, HTML5, CSS e Unity3D. Com paixão por design UX e design de interfaces, sempre busco criar soluções atraentes e funcionais, com foco nas necessidades do usuário. Com habilidades em várias áreas do desenvolvimento de software, estou preparado para enfrentar desafios e fornecer soluções criativas e eficazes.
    </p>
</div>
